################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/Codewars/bin/Release
/Codewars/Debug
/.vs/
/.gitignore.orig